@mixin btn-light-override {
    background-color: #FFF;
    border: 1px solid $primary;
}

@mixin btn-primary-override {
    background-color: $primary;
    border: 1px solid $primary;
}

@mixin css-circles($color, $rad) { 
    background: $color;
    border-radius: 100%;
    height: $rad;
    width: $rad;
}