@import "./variables";
@import "./mixins";

.index {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;

	&::before, &::after {
		content: "";
		display: block;
		position: fixed;
		z-index: -1;
	}

	$circleDim: 1000px;

	&::before {
		@include css-circles(rgba($primary, 0.18), $circleDim);
		top: calc(55% - #{$circleDim});
		right: calc(45% - #{$circleDim});
	}

	&::after {
		@include css-circles(rgba($primary, 0.14), $circleDim / 4);
		bottom: calc(19% - #{$circleDim / 4});
		left: calc(18% - #{$circleDim / 4});
	}

	&--contents {
		margin-left: 100px;
	}
	
	&--logo {
		margin-bottom: 100px;
		width: 125px;
	}

	&--title {
		font-size: 38px;
		margin-bottom: 75px;
	}

	&--button {
		margin-bottom: 25px;
		&.btn-light {
			@include btn-light-override;
			> a {
				color: $primary;
			}
		}
	}
}
