@import "./variables";
@import "./mixins";

.landing {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    // circles
    &::before, &::after {
		content: "";
		display: block;
		position: fixed;
		z-index: -1;
	}

	$circleDim: 300px;

	&::before {
		@include css-circles(rgba($primary, 0.18), $circleDim);
		top: calc(25% - #{$circleDim});
		left: calc(25% - #{$circleDim});
	}

	&::after {
		@include css-circles(rgba($primary, 0.14), $circleDim * 2);
		bottom: calc(25% - #{$circleDim * 2});
		right: calc(20% - #{$circleDim * 2});
	}

    &--logo {
        margin-bottom: 50px;
        width: 125px;
    }
    
    &--title {
        font-size: 38px;
        margin-bottom: 50px;
    }
    
    &--routes {
        display: flex;
        justify-content: space-between;
    }
    
    &--button {
        margin: 15px;
        padding: 12px;
        width: 140px;

        & > a:hover {
            text-decoration: none;
        }
    
        &.btn-primary {
            @include btn-primary-override;
            
            & > a {
                color: white;
            }
        }
        
        &.btn-light {
            @include btn-light-override;
            & > a {
                color: $primary;
            }
        }
    }

}
