@import "./variables";

.members__container { 
    display: flex;
    justify-content: center;
}

.members__card {
    margin: 30px;
    overflow-x: auto !important; // the mui-card root will override otherwise
    max-width: 80%;

    &--content {
        max-height: 400px;
        padding: 0 16px !important; // TODO: Move vendor import order ahead of our styles
        overflow-y: scroll;
    }

    tr > td {
        padding: 1em;
    }

    tr > th {
        position: sticky;
        top: 0;
        padding: 1em 1em 1em 1em;
        background: white;
    }

    tr:not(:first-child) {
        border-top: 1px solid lightgray;
    }

    &--header {
        th {
            color: $highlight;
        }
    }

    &__actions {
        justify-content: flex-end;
    }
}


#snackbar--content { // to have greater specificity than mui root styles
    background-color: #389337;
    display: flex;
    align-items: center;
}

.snackbar {
    &--side-icon {
        margin-right: 10px;
    }

    &--button-icon:focus {
        outline: none;
    }
    
    &--icon {
        font-size: 20px;
    }
}
