@import "./variables";
@import "utility";

.participants__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.participants__search { 
    margin: 15px; 
    width: 80%;

    &.MuiCard-root {
        // required to avoid clipping dropdown from card
        overflow: visible;
    }

    &--content {
        display: grid;
        grid-template-columns: 1fr 6fr;
        padding-top: 15px;
        width: 100%;
        
        &.MuiCardContent-root:last-child {
            padding-bottom: 16px;
        }
    
        label {
            color: $primary;
            font-size: 15px;
            line-height: 2.3em;
            margin: 0.1em 0 0 0;
            text-align: center;
        }
    }
}

.participants__card {
    margin: 0px 30px 30px 30px;
    overflow-x: auto !important; // the mui-card root will override otherwise
    width: 80%;

    &--content {
        height: 400px;
        padding: 0 16px !important; // TODO: Move vendor import order ahead of our styles
        overflow-y: scroll;
    }

    table {
        margin-top: 12px;
        width: 100%;
    }

    tr > td {
        padding: 1em;
    }

    tr > th {
        position: sticky;
        top: 0;
        padding: 1em 1em 1em 1em;
        background: white;
    }

    tr:not(:first-child) {
        border-top: 1px solid lightgray;
    }
    
    &--index {
        text-align: right;
    }

    &--header {
        th {
            color: $highlight;
        }   
    }
}
