@import "variables";
@import "utility";

.session__card {
    margin: 30px;

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__container--card {
        margin: 10px;
        max-width: 20%;
        padding: 10px;
    }

    &__container--card-content-role {
        color: $primary;
    }

    .MuiCardContent-root {
        padding: 5px !important;
    }
}
